.btn:focus .glyphicon{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  h3{
    font-style: italic;
  }




 