.ankit{
    /* background-image: url('https://p4.wallpaperbetter.com/wallpaper/817/1010/499/sunset-4k-screensaver-wallpaper-preview.jpg'); */
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp');
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}
.container{
    margin-top:42px;
}